body {
  margin: 0;
  background-color: #f1d4f6;
  height: 100vh;
  overflow: hidden;
  font-family: "Custom419", Arial, sans-serif;
}

@font-face {
  font-family: "Custom419";
  src: url("fonts/419-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



.game-container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

/* LOGO */
.logo {
  width: 50px;
  display: block;
  margin: 25px auto 0 auto;
}

/* ARROWS */
.arrows {
  position: absolute;
  top: 32%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  transition: transform 0.1s linear;
}

.arrows.left {
  left: 20px;
  margin-top: 180px;
}

.arrows.right {
  right: 20px;
  margin-top: -100px;
}

.arrows img {
  width: 60px;
  opacity: 0.60;
}

/* PIZZA IMAGE */
#pizza {
  width: 200%;
  max-width: none;
  display: block;
  position: relative;
  left: -200px;
  top: -150px;
  margin: 120px auto 0 auto;
  transition: transform 0.1s linear;
  user-select: none;
  -webkit-user-drag: none;
  touch-action: none;
}

/* TITLE (HOLLOW OUTLINE) */
.main-title {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: -280px;
  color: transparent;
  -webkit-text-stroke: 1.5px #283593;
  text-stroke: 1.5px #283593;
}

.it-hollow {
  color: transparent;
  -webkit-text-stroke: 1.5px #283593;
  text-stroke: 1.5px #283593;
  font-weight: 900;
}

/* Instructions */
.instruction {
  margin-top: -65px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #283593;
}
